//--------------------------------------------------
// Global variables
//
// Define global sass variables here.
//--------------------------------------------------

// Media Queries
$media-mobile: 20em;
$media-small-tablet: 32em;
$media-st-t: 40em;
$media-tablet: 48em;
$media-t-d: 56em;
$media-desktop: 64em;
$media-wide: 75em;

// Font Families
$font-family-sans: 'Oswald', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-family-sans-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-main: $font-family-serif;
$font-family-heading: $font-family-sans;
$font-family-copy: $font-family-serif;

$font-family-default: $font-family-main;

// Font Sizes
$font-size-root: 62.5%; // Root size, only for html tag. // 62.5% means that 1rem = 10px
$font-size-default: 1.6rem;

// Default Transition Speed
$transition: .175s;

// Colors
$color-green: #5eb245;
$color-yellow: yellow;
$color-blue: #56C7DA;
$color-white: #ffffff;
$color-black: #222;

$color-grey-lightest: #f4f4f4;
$color-grey-lighter: #eeeeee;
$color-grey-light: #dddddd;
$color-grey: #c9c9c9;
$color-grey-dark: #a9a9a9;
$color-grey-darker: #6a6a6a;
// $color-grey-darkest: #333333;
$color-grey-darkest: #343741;

// Aliases for spelling variations
$color-gray-lightest: $color-grey-lightest;
$color-gray-lighter: $color-grey-lighter;
$color-gray-light: $color-grey-light;
$color-gray: $color-grey;
$color-gray-dark: $color-grey-dark;
$color-gray-darker: $color-grey-darker;
$color-gray-darkest: $color-grey-darkest;

$color-bg: #ffffff;
$color-default: #333333;

$color-disabled: $color-grey-light;
$color-disabled-bg: #fafafa;

$color-header: $color-default;
$color-text: $color-default;
$color-text-light: $color-grey-darker;
$color-header-bg: $color-white;
$color-link: $color-green;
$color-link-hover: darken($color-green, 20%);
$color-selection: lighten($color-yellow, 20%);
$color-screen: rgba($color-black, .7);

//shadows
$color-shadow: $color-grey-light;
$color-shadow-hover: $color-grey;

//buttons
$color-btn: $color-black;
$color-btn-hover: $color-green;
