//----------------------------------------
// Main Site Footer
//----------------------------------------

.footer {
  background-color: $color-black;
  color: $color-white;
  fill: $color-white;
  font-family: $font-family-sans-secondary;
  font-size: 1.4rem;
  margin: auto;
  text-align: center;

  @include media($media-tablet) {

  }

  ul {
    margin: 30px 0;
  }

  li {
    margin-bottom: 8px;

    @include media($media-tablet) {
      margin-bottom: 8px;
    }

     a {
       color: $color-gray-light;

       &:hover {
         color: $color-green;
       }
     }
  }
}

.footer_wrapper {
  padding: 30px 20px;

  @include media($media-tablet) {
    padding: 50px 40px;
  }
}

.footer_logo {
  height: 100px;
  width: 189px;
  margin: auto;
  fill: $color-black;
  margin-bottom: 20px;
}

.footer_apmLogo {
  height: 14px;
  width: 100%;
}

.footer_content {
  border-bottom: 1px solid $color-gray-darker;
  padding-bottom: 20px;
  font-weight: bold;

  @include media($media-tablet) {
    margin-bottom: 20px;
    // margin-right: 40px;
    // margin-left: 40px;
  }
}

.footer_apmContent {
  line-height: 1.6;
  margin-bottom: 8px;
}

.footer_social {
  margin-top: 20px;

  @include media($media-tablet) {
    margin-top: 40px;
  }

  ul {
    display: block;
  }

  li {
    display: inline-block;
    padding: 0 8px;

    a {
      display: inline-block;
      height: 100%;
      transition: color .175s;
    }
  }
}

.footer_linkbreak {
  display: block;

  @include media($media-t-d) {
    display: inline-block;
  }
}