//----------------------------------------
// Main Site Footer
//----------------------------------------

.footer {
  background-color: $color-black;
  color: $color-white;
  fill: $color-white;
  font-family: $font-family-sans-secondary;
  font-size: 1.4rem;
  margin: auto;
  text-align: center;

  @include media($media-tablet) {

  }

  ul {
    margin: 30px 0;
  }

  li {
    margin-bottom: 8px;

    @include media($media-tablet) {
      margin-bottom: 8px;
    }

     a {
       color: $color-gray-light;

       &:hover {
         color: $color-green;
       }
     }
  }
}
.footer_wrapper {
  padding: 40px 0;


  @include media($media-tablet) {
    padding: 80px 20px;
  }
}

.footer_apmLogo {
  margin: 0 0 30px 0;
  height: 14px;
  width: 100%;
}

.footer_apmContent {
  margin-bottom: 8px;
}

.footer_social {
  margin-top: 40px;

  ul {
    display: block;
  }

  li {
    display: inline-block;
    padding: 0 8px;

    a {
      display: inline-block;
      height: 100%;
      transition: color .175s;
    }
  }
}


// .footer_interact {
//   padding: 10px 0 0;
// }

// .footer_logo {
//   display: block;
//   width: 50px;
//   height: 50px;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   margin-left: -25px;
// }

// .footer_logo_img {
//   display: block;
//   width: 50px;
//   height: 50px;
//   border-radius: 100px;
// }

// .footer_apmLogo {
//   width: 250px;
//   height: 15.05px;
//   fill: $color-white;
// }

// .footer_apm {
//   @include clearfix();
//   padding: 30px 0;
//   background-color: $color-grey-darkest;
// }

// .footer_apm_logo {
//   text-align: center;
//   margin: 0 0 20px;
//   padding-top: 70px;

//   @include media($media-st-t) {
//     padding-top: 0;
//     margin: 1px 0 0;
//     float: left;
//     text-align: left;
//   }
// }

// .footer_apm_small {
//   text-align: center;

//   @include media($media-st-t) {
//     float: right;
//     text-align: right;
//   }

//   small {
//     display: block;
//     margin-bottom: 2px;
//     font-size: inherit;
//   }
// }
