//--------------------------------
// Main Site Header
//--------------------------------

.header {
  background-color: $color-white;
  margin-bottom: 20px;

  @include media(57em) {
    margin-bottom: 0;
  }
}

.header_wrapper {
  display: table;
  padding: 20px 40px;
  width: 100%;
}

.header_logo {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
  width: 200px;
  background-color: $color-black;
  fill: $color-white;
  color: $color-white;
  text-align: center;
}

// .header_secondary {
//   font-size: 1.4rem;
//   background: $color-grey-lightest;
// }

// .header_secondary_inner {
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   padding: 4px 15px;
//   max-width: $max-width;
// }

// .header_main {
//   max-width: $max-width;
//   margin: 15px auto 0;

//   @include media($media-st-t) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//   }

//   @include media(57em) {
//     height: 78px;
//     margin-top: 0;
//     flex-wrap: nowrap;
//   }
// }

// .header_main_logo {
//   display: block;
//   width: 244px;
//   margin: 0 auto;

//   @include media($media-st-t) {
//     margin-left: 0;
//     margin-right: 30px;
//     order: 1;
//   }

//   @include media(57em) {
//     margin: 0 36px 0 15px;
//     width: 244px;
//   }
// }

// .header_main_logo_graphic {
//   display: block;
//   margin: 0 auto;
//   width: 244px;
//   height: 27px;
// }

// .header_main_search {
//   margin: 0 10px;

//   @include media($media-st-t) {
//     order: 3;
//     width: 600px;
//   }

//   @include media(57em) {
//     flex-grow: 1;
//     order: 2;
//     margin: 0;
//     width: auto;
//   }
// }

// .header_main_nav {
//   @include media($media-st-t) {
//     order: 2;
//   }

//   @include media(57em) {
//     order: 3;
//     margin-left: 36px;
//     margin-right: 15px;
//   }
// }
