//--------------------------------
// Main Site Header
//--------------------------------

.header {
  background-color: $color-white;
  margin-bottom: 20px;
  margin: auto;
  height: 100%;
  min-height: 120px;

  @include media($media-mobile){
    min-height: 100%;
  }

  @include media($media-tablet) {
    margin-bottom: 0;
  }
}

.header_wrapper {
  display: block;
  padding: 20px 0;
  margin: auto;
  width: 100%;
  text-align: center;

  @include media($media-tablet){
    display: table;
    padding: 20px 40px;
  }
}

.header_logo {
  display: block;
  height: 40px;
  width: 282px;
  background-image: url(../images/ctm-logo.svg);
  background-repeat: no-repeat;
  margin: auto;

  @include media($media-tablet) {
    display: table-cell;
    vertical-align: middle;
  }

}
