//--------------------------------
// Main Nav
//--------------------------------

.nav {
  display: block;
  position: relative;
  font-family: $font-family-heading;
  margin-top: 20px;

  @include media($media-tablet) {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
  }

  ul {
    display: block;
    margin: auto;

    @include media($media-tablet) {
      display: table;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }

    li {
      display: inline;
      text-align: center;
      padding: 0 10px;

      @include media($media-mobile) {
        padding: 0 12px;
      }

      @include media($media-tablet) {
        display: table-cell;
      }

      &.nav_social {
        padding: 0 8px;
        display: none;

        @include media($media-t-d) {
          display: inline-block;
        }
      }

      a {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        transition: color $transition;

        &:hover {
          color: $color-green;

        }
      }
    }

  }

}
