<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="stylessheet/main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
      <header class="header" role="banner">
        <div class="header_wrapper">
          <div class="header_logo">
            Logo
          </div>
          <nav class="nav" role="nav">
            <ul>
              <li><a href="#about">About</a> </li>
              <li><a href="#Why">Why</a></li>
              <li><a href="#What">What</a></li>
              <li><a href="#Join">Join</a></li>
              <li><a href="#Talk">Talk</a></li>
              <li><a href="#Facebook">Facebook</a></li>
              <li><a href="#Twitter">Twitter</a></li>
              <li><a href="#Youtube">YouTube</a></li>
            </ul>
          </nav>
        </div>

      </header>
      <main class="main" role="main">
         <!-- Hero -->
        <div class="heroGrid">
          <div class="heroGrid_text">
            <h1 class="hdg hdg-1-hero">People Are Talking</h1>
          </div>
        </div>
        <!-- end: Hero -->

        <!-- Row 1 -->
        <div class="row">
          <div class="col col-item col-item-green">
            <article role="article">
              <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
              <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
              </article>
          </div>
          <div class="col col-item col-item-white col-item-center col-item-padded">
            <article role="article">
              <div class="hdg hdg-largest">50%</div>
              <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
            </article>
            </div>
        </div>
        <!-- end: Row 1 -->

        <!-- Row 2 -->
        <div class="row">
            <div class="col col-item col-item-white ">
                <h1 class="hdg hdg-1">We’re in this together</h1>
              <article role="article">
                  <p>Though mental illness is a health condition much like any other, we often treat it as if it’s  a choice. This common misconception creates barriers to care.  It takes an average of 10 years—a full decade!—for a  person experiencing a mental health condition to seek the care they need. From the things we all say (“You’re crazy!” Snap out of it”), to problematic portrayals in popular culture, to systemic complacency, we have a lot of work ahead to fix our misconceptions about mental health.
                    </p>
                      <p>
                    What myths have you encountered and shattered? Tell us about it using #calltomind.</p>
              </article>
            </div>
            <div class="col col-item col-item-green col-item-center">
                <article role="article">
                  <div class="hdg hdg-large hdg-light">Myths</div>
                  <div class="hdg hdg-1 hdg-lowercase ">vs</div>
                  <div class="hdg hdg-large hdg-light">Facts</div>
                </article>
              </div>
          </div>
        <!-- end: Row 2 -->
        <!-- Row 2 -->
        <div class="row">
            <div class="col">
              <article role="article">


              </article>
            </div>
            <div class="col">
                <article role="article">

                </article>
              </div>
          </div>
          <!-- end: Row 2 -->

      </main>
      <footer class="footer" role="contentinfo">
        <div class="footer_wrapper">
          <div class="row">
            <div class="col col-footer col-item-center">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About American Public Media</a></li>
                    <li><a href="#Youtube">Become a Member</a></li>
                </ul>
            </div>
            <div class="col col-footer col-item-center">
              <h1>American Public Media Logo</h1>
              <div>Call to Mind is an initiative of American Public Media</div>
              <div>480 Cedar Street Saint Paul MN</div>

                  <ul>
                      <li><a href="#Facebook">Facebook</a></li>
                      <li><a href="#Twitter">Twitter</a></li>
                      <li><a href="#Youtube">YouTube</a></li>
                  </ul>

            </div>
            <div class="col col-footer col-item-center">
              <ul>
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Your privacy rights</a></li>
              </ul>
            </div>
          </div>

        </div>
      </footer>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>