<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="stylessheet/main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
      <header class="header" role="banner">
        <div class="header_wrapper">
          <div class="header_logo">
            <h1 class="invisible">Call to Mind</h1>
          </div>
          <nav class="nav" role="nav">
            <ul>
              <li><a href="#about">About</a> </li>
              <li><a href="#Why">Why</a></li>
              <li><a href="#What">What</a></li>
              <li><a href="#Join">Join</a></li>
              <li><a href="#Talk">Talk</a></li>
              <li class="nav_social">
                <a class="social" href="#">
                  <svg class="social_icon icon-social" viewBox="0 0 18 32" >
                    <path d="M18 9.705h-6.262V7.051c0-1.249.871-1.54 1.485-1.54h4.384V.018L11.255 0c-5.76 0-6.853 4.095-6.853 6.718v2.987H0v5.574h4.402V32h7.336V15.279h5.65L18 9.705z" fill-rule="evenodd"/>
                  </svg>
                </a>
              </li>
              <li class="nav_social">
                <a class="social" href="#">
                  <svg class="social_icon icon-social" viewBox="0 0 36 28" >
                    <path d="M36 3.63c-1.306.565-2.406.584-3.574.026 1.506-.875 1.575-1.488 2.12-3.141a14.92 14.92 0 0 1-4.63 1.719A7.386 7.386 0 0 0 24.597 0c-4.026 0-7.288 3.167-7.288 7.068 0 .556.064 1.096.187 1.612-6.058-.294-11.428-3.11-15.023-7.387a6.888 6.888 0 0 0-.988 3.556c0 2.453 1.288 4.615 3.244 5.883a7.447 7.447 0 0 1-3.301-.884c-.002.03-.002.058-.002.089 0 3.425 2.513 6.281 5.848 6.931a7.537 7.537 0 0 1-3.293.122c.929 2.808 3.62 4.852 6.81 4.91C7.67 24.27 3.804 25.257 0 24.824A21.1 21.1 0 0 0 11.172 28C24.58 28 31.908 17.23 31.908 7.888c0-.308-.005-.61-.019-.914C33.312 5.978 35.023 5.049 36 3.63" fill-rule="evenodd"/>
                  </svg>
                </a>
              </li>
              <li class="nav_social">
                <a class="social" href="#">
                  <svg class="social_icon icon-social" viewBox="0 0 1021.45 718.42">
                    <path d="M407,206L649,367.63,683,350Z" transform="translate(-1.77 -1.3)" style="fill-rule: evenodd;opacity: 0.12"/>
                    <path d="M1013,156.28S1003,85.89,972.42,54.9C933.58,14.21,890,14,870.07,11.63,727.13,1.3,512.72,1.3,512.72,1.3h-0.44s-214.41,0-357.35,10.33C135,14,91.44,14.21,52.58,54.9,22,85.89,12,156.28,12,156.28S1.77,238.94,1.77,321.6v77.49C1.77,481.75,12,564.41,12,564.41S22,634.8,52.58,665.8c38.86,40.68,89.9,39.4,112.63,43.66,81.72,7.84,347.29,10.26,347.29,10.26s214.63-.32,357.57-10.66c20-2.38,63.5-2.58,102.35-43.27C1003,634.8,1013,564.41,1013,564.41s10.2-82.66,10.2-165.32V321.6C1023.22,238.94,1013,156.28,1013,156.28ZM407,493l0-287L683,350Z" transform="translate(-1.77 -1.3)" />
                  </svg>
                </a>
                </li>
              <!-- <li><a href="#Facebook">Facebook</a></li>
              <li><a href="#Twitter">Twitter</a></li>
              <li><a href="#Youtube">YouTube</a></li> -->
            </ul>
          </nav>
        </div>
      </header>
      <main class="main" role="main">
         <!-- Hero -->
        <div class="heroGrid">
          <div class="heroGrid_text">
            <h1 class="hdg hdg-1-hero">Note to Self</h1>
            <div class="heroGrid_text_subhead">A fun evening of music and conversation about innovativeways to care for your mental wellbeingled by Tom Weber from MPR News &amp; featuring a performance by Manchita</div>
          </div>
        </div>
        <!-- end: Hero -->

        <!-- Row 1 -->
        <div class="row">
          <div class="col col-item col-item-green">
            <article role="article">
              <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
              <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
              </article>
          </div>
          <div class="col col-item col-item-white col-item-center col-item-padded">
            <article role="article">
              <div class="hdg hdg-largest">50%</div>
              <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
            </article>
            </div>
        </div>
        <!-- end: Row 1 -->

        <!-- Row 2 -->
        <div class="row">
            <div class="col col-item col-item-white ">
                <h1 class="hdg hdg-1">We’re in this together</h1>
              <article role="article">
                  <p>Though mental illness is a health condition much like any other, we often treat it as if it’s  a choice. This common misconception creates barriers to care.  It takes an average of 10 years—a full decade!—for a  person experiencing a mental health condition to seek the care they need. From the things we all say (“You’re crazy!” Snap out of it”), to problematic portrayals in popular culture, to systemic complacency, we have a lot of work ahead to fix our misconceptions about mental health.
                    </p>
                      <p>
                    What myths have you encountered and shattered? Tell us about it using #calltomind.</p>
              </article>
            </div>
            <div class="col col-item col-item-green col-item-center">
                <article role="article">
                  <div class="hdg hdg-large hdg-light">Myths</div>
                  <div class="hdg hdg-1 hdg-lowercase ">vs</div>
                  <div class="hdg hdg-large hdg-light">Facts</div>
                </article>
              </div>
          </div>
        <!-- end: Row 2 -->
        <!-- Row 3 -->
        <div class="row">
            <div class="col col-item col-item-black">
              <article role="article">
                <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
                <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
                </article>
            </div>
            <div class="col col-item col-item-black col-item-padded">
              <article role="article">
                <div class="hdg hdg-largest">50%</div>
                <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
              </article>
              </div>
          </div>
          <!-- end: Row 3 -->
       <!-- Row 4 -->
       <div class="row">
          <div class="col col-item col-item-green">
            <article role="article">
              <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
              <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
              </article>
          </div>
          <div class="col col-item col-item-white col-item-center col-item-padded">
            <article role="article">
              <div class="hdg hdg-largest">50%</div>
              <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
            </article>
            </div>
        </div>
        <!-- end: Row 4 -->

        <!-- Row 5 -->
        <div class="row">
          <div class="col col-item col-item-white">
            <article role="article">
              <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
              <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
              </article>
          </div>
          <div class="col col-item col-item-white">
            <article role="article">
              <div class="hdg hdg-largest">50%</div>
              <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
            </article>
            </div>
        </div>
        <!-- end: Row 5 -->

        <!-- Row 6 -->
        <div class="row">
            <div class="col col-item col-item-black">
              <article role="article">
                <h1 class="hdg hdg-1">Mental wellbeing is for everyone</h1>
                <p> All of us experience various levels of mental wellbeing at different points in our life. Half of us will personally experience at least one mental health condition in our lifetime. And yet misconception and discrimination still exist, causing people to feel shame, suffer in silence and either not seek or be able to access treatment. The time is now to move forward and address mental health.  Call to Mind aims to inform and mobilize new conversations about mental health.</p>
                </article>
            </div>
            <div class="col col-item col-item-black">
              <article role="article">
                <div class="hdg hdg-largest">50%</div>
                <div class="hdg hdg-lowercase hdg-infographic">of people experience a mental health condition in adulthood</div>
              </article>
              </div>
          </div>
          <!-- end: Row 6 -->

          <!-- Row 7 -->
          <div class="row">
              <div class="col col-item col-item-white ">
                  <h1 class="hdg hdg-1">We’re in this together</h1>
                <article role="article">
                    <p>Though mental illness is a health condition much like any other, we often treat it as if it’s  a choice. This common misconception creates barriers to care.  It takes an average of 10 years—a full decade!—for a  person experiencing a mental health condition to seek the care they need. From the things we all say (“You’re crazy!” Snap out of it”), to problematic portrayals in popular culture, to systemic complacency, we have a lot of work ahead to fix our misconceptions about mental health.
                      </p>
                        <p>
                      What myths have you encountered and shattered? Tell us about it using #calltomind.</p>
                </article>
              </div>
              <div class="col col-item col-item-green col-item-center">
                  <article role="article">
                    <div class="hdg hdg-large hdg-light">Myths</div>
                    <div class="hdg hdg-1 hdg-lowercase ">vs</div>
                    <div class="hdg hdg-large hdg-light">Facts</div>
                  </article>
                </div>
            </div>
          <!-- end: Row 7 -->


        <!-- Row Sample -->
        <!-- <div class="row">
            <div class="col">
              <article role="article">


              </article>
            </div>
            <div class="col">
                <article role="article">

                </article>
              </div>
          </div> -->
          <!-- end: Row Sample -->

      </main>
      <footer class="footer" role="contentinfo">
        <div class="footer_wrapper">
          <div class="row">
            <div class="col col-footer col-item-center">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About American Public Media</a></li>
                    <li><a href="#Youtube">Become a Member</a></li>
                </ul>
            </div>
            <div class="col col-footer col-item-center">
              <!-- <h1>American Public Media Logo</h1> -->
              <div class="footer_apmLogo">


              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-235 49 166 9" style="enable-background:new -235 49 166 9;" xml:space="preserve">

<path fill="#A93439" d="M-232.8,53.2c0-1,0.8-1.9,1.9-1.9c1,0,1.9,0.8,1.9,1.9c0,1-0.8,1.9-1.9,1.9S-232.8,54.2-232.8,53.2L-232.8,53.2
	z M-235,53.2c0,2.3,1.8,4.1,4.1,4.1c2.3,0,4.1-1.8,4.1-4.1c0-2.3-1.8-4.1-4.1-4.1C-233.2,49-235,50.9-235,53.2"/>
<path d="M-220.8,49.2h2.4l2.9,7.9h-2.5l-0.3-1.1h-2.5l-0.4,1.1h-2.4L-220.8,49.2L-220.8,49.2z M-218.9,54.2l-0.7-2.4h0l-0.8,2.4
	H-218.9z M-215.1,49.2h3.4l1.1,4.6h0l1.1-4.6h3.4v7.9h-2.3v-5h0l-1.4,5h-1.8l-1.4-5h0v5h-2.3C-215.1,57-215.1,49.2-215.1,49.2z
	 M-204.7,49.2h6.5v2h-4.1v1h3.7v1.9h-3.7v1h4.2v2h-6.6L-204.7,49.2L-204.7,49.2z M-197,49.2h4.6c1.4,0,2.6,0.8,2.6,2.2
	c0,0.8-0.4,1.7-1.2,2c0.7,0.3,1.1,1,1.2,2c0,0.4,0,1.3,0.3,1.7h-2.4c-0.1-0.4-0.2-0.8-0.2-1.2c-0.1-0.8-0.1-1.5-1.1-1.5h-1.3v2.7
	h-2.4C-197,57.1-197,49.2-197,49.2z M-194.6,52.6h1.3c0.4,0,1.1-0.1,1.1-0.8c0-0.5-0.3-0.8-1.2-0.8h-1.1V52.6z M-188.9,49.2h2.4V57
	h-2.4L-188.9,49.2L-188.9,49.2z M-180.4,52.1c0-0.3-0.3-1.2-1.3-1.2c-1.1,0-1.5,1.1-1.5,2.2c0,1.1,0.4,2.2,1.5,2.2
	c0.8,0,1.1-0.6,1.3-1.3h2.4c0,1.6-1.3,3.3-3.6,3.3c-2.5,0-4-1.8-4-4.1c0-2.5,1.6-4.1,4-4.1c2.2,0,3.3,1.1,3.6,3.1H-180.4z
	 M-174.9,49.2h2.4l2.9,7.9h-2.5l-0.3-1.1h-2.5l-0.4,1.1h-2.4L-174.9,49.2z M-172.9,54.2l-0.7-2.4h0l-0.8,2.4L-172.9,54.2
	L-172.9,54.2z M-169.1,49.2h2.5l2.3,4.2h0v-4.2h2.3v7.9h-2.4l-2.4-4.3h0V57h-2.3L-169.1,49.2L-169.1,49.2z M-156.9,49.2h4.1
	c2.1,0,2.9,1.6,2.9,2.7c0,1.9-1.3,2.8-3.1,2.8h-1.4V57h-2.4L-156.9,49.2L-156.9,49.2z M-154.4,52.8h0.9c0.6,0,1.3,0,1.3-0.8
	c0-0.7-0.5-0.8-1.1-0.8h-1.1V52.8z M-142,54c0,2.2-1.2,3.2-3.6,3.2c-2.4,0-3.6-1-3.6-3.2v-4.8h2.4v4.3c0,0.8,0,1.8,1.2,1.8
	c1.1,0,1.1-1,1.1-1.8v-4.3h2.4C-142,49.2-142,54-142,54z M-140.9,49.2h4.3c2.1,0,2.5,1.2,2.5,2c0,0.8-0.4,1.2-1,1.5
	c0.7,0.2,1.4,0.8,1.4,2c0,1.6-1.4,2.4-2.8,2.4h-4.5L-140.9,49.2L-140.9,49.2z M-138.4,52.2h1.3c0.5,0,0.8-0.1,0.8-0.7
	c0-0.4-0.3-0.5-0.8-0.5h-1.3L-138.4,52.2L-138.4,52.2z M-138.4,55.2h1.4c0.5,0,0.9-0.1,0.9-0.8c0-0.5-0.3-0.7-0.8-0.7h-1.5
	L-138.4,55.2L-138.4,55.2z M-132.8,49.2h2.4V55h3.5v2h-5.9L-132.8,49.2L-132.8,49.2z M-125.9,49.2h2.4V57h-2.4V49.2L-125.9,49.2z
	 M-117.3,52.1c0-0.3-0.3-1.2-1.3-1.2c-1.1,0-1.5,1.1-1.5,2.2c0,1.1,0.4,2.2,1.5,2.2c0.8,0,1.1-0.6,1.3-1.3h2.4
	c0,1.6-1.3,3.3-3.6,3.3c-2.5,0-4-1.8-4-4.1c0-2.5,1.6-4.1,4-4.1c2.2,0,3.3,1.1,3.6,3.1L-117.3,52.1L-117.3,52.1z M-110.4,49.2h3.4
	l1.1,4.6h0l1.1-4.6h3.4v7.9h-2.3v-5h0l-1.4,5h-1.8l-1.4-5h0v5h-2.3L-110.4,49.2L-110.4,49.2z M-100,49.2h6.5v2h-4.1v1h3.7v1.9h-3.7
	v1h4.2v2h-6.6L-100,49.2L-100,49.2z M-92.3,49.2h4c2.6,0,3.5,1.9,3.5,3.9c0,2.4-1.3,3.9-4,3.9h-3.5V49.2L-92.3,49.2z M-89.9,55h0.9
	c1.5,0,1.7-1.2,1.7-2c0-0.5-0.2-1.9-1.9-1.9h-0.8L-89.9,55L-89.9,55z M-83.8,49.2h2.4V57h-2.4L-83.8,49.2L-83.8,49.2z M-78,49.2h2.4
	l2.9,7.9h-2.5l-0.3-1.1h-2.5l-0.4,1.1h-2.4L-78,49.2L-78,49.2z M-76.1,54.2l-0.7-2.4h0l-0.8,2.4L-76.1,54.2L-76.1,54.2z M-72.2,49.5
	h-0.5v1.4H-73v-1.4h-0.5v-0.3h1.3V49.5z M-70.9,50.4l0.4-1.2h0.5v1.6h-0.3v-1.3h0l-0.5,1.3H-71l-0.5-1.3h0v1.3h-0.3v-1.6h0.5
	L-70.9,50.4L-70.9,50.4z"/>
</svg></div>

              <div class="footer_apmContent">Call to Mind is an initiative of American Public Media</div>
              <div class="footer_apmContent">480 Cedar Street Saint Paul MN</div>
              <div class="footer_social">
                  <ul>
                      <li class="nav_social">
                          <a class="social social-footer" href="#">
                            <svg class="social_icon social_icon-footer icon-social" viewBox="0 0 18 32" >
                              <path d="M18 9.705h-6.262V7.051c0-1.249.871-1.54 1.485-1.54h4.384V.018L11.255 0c-5.76 0-6.853 4.095-6.853 6.718v2.987H0v5.574h4.402V32h7.336V15.279h5.65L18 9.705z" fill-rule="evenodd"/>
                            </svg>
                          </a>
                        </li>
                        <li class="nav_social">
                          <a class="social social-footer" href="#">
                            <svg class="social_icon social_icon-footer icon-social" viewBox="0 0 36 28" >
                              <path d="M36 3.63c-1.306.565-2.406.584-3.574.026 1.506-.875 1.575-1.488 2.12-3.141a14.92 14.92 0 0 1-4.63 1.719A7.386 7.386 0 0 0 24.597 0c-4.026 0-7.288 3.167-7.288 7.068 0 .556.064 1.096.187 1.612-6.058-.294-11.428-3.11-15.023-7.387a6.888 6.888 0 0 0-.988 3.556c0 2.453 1.288 4.615 3.244 5.883a7.447 7.447 0 0 1-3.301-.884c-.002.03-.002.058-.002.089 0 3.425 2.513 6.281 5.848 6.931a7.537 7.537 0 0 1-3.293.122c.929 2.808 3.62 4.852 6.81 4.91C7.67 24.27 3.804 25.257 0 24.824A21.1 21.1 0 0 0 11.172 28C24.58 28 31.908 17.23 31.908 7.888c0-.308-.005-.61-.019-.914C33.312 5.978 35.023 5.049 36 3.63" fill-rule="evenodd"/>
                            </svg>
                          </a>
                        </li>
                        <li class="nav_social">
                          <a class="social social-footer" href="#">
                            <svg class="social_icon social_icon-footer icon-social" viewBox="0 0 1021.45 718.42">
                              <path d="M407,206L649,367.63,683,350Z" transform="translate(-1.77 -1.3)" style="fill-rule: evenodd;opacity: 0.12"/>
                              <path d="M1013,156.28S1003,85.89,972.42,54.9C933.58,14.21,890,14,870.07,11.63,727.13,1.3,512.72,1.3,512.72,1.3h-0.44s-214.41,0-357.35,10.33C135,14,91.44,14.21,52.58,54.9,22,85.89,12,156.28,12,156.28S1.77,238.94,1.77,321.6v77.49C1.77,481.75,12,564.41,12,564.41S22,634.8,52.58,665.8c38.86,40.68,89.9,39.4,112.63,43.66,81.72,7.84,347.29,10.26,347.29,10.26s214.63-.32,357.57-10.66c20-2.38,63.5-2.58,102.35-43.27C1003,634.8,1013,564.41,1013,564.41s10.2-82.66,10.2-165.32V321.6C1023.22,238.94,1013,156.28,1013,156.28ZM407,493l0-287L683,350Z" transform="translate(-1.77 -1.3)" />
                            </svg>
                          </a>
                          </li>
                      <!-- <li><a href="#Facebook">Facebook</a></li>
                      <li><a href="#Twitter">Twitter</a></li>
                      <li><a href="#Youtube">YouTube</a></li> -->
                  </ul>
                </div>
            </div>
            <div class="col col-footer col-item-center">
              <ul>
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Your privacy rights</a></li>
              </ul>
            </div>
          </div>

        </div>
      </footer>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>