/*doc
---
title: Buttons
name: btn
category: Interface
---

All styles should look the same for `<a>`, `<button>`, and `<input type="submit">` elements. Favor using `<button>` over `<input>`.

```slim_example
.hList
  a.btn href="#" Link
  button.btn type="button" Button Element
  input.btn type="submit" value="Input Type Submit"
```

## Button Sizes

Buttons attached to form fields are taller.

```slim_example
.hList
  button.btn.btn-main Normal
  button.btn.btn-main.btn-attached Attached
```

## Button Colors/Types

#### Default Button

Used for most usages where buttons are required.

```slim_example
.hList
  button.btn Text Only
  button.btn
    | Text with Icon
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

#### Main Action, emphasis

Currently they look the same.

```slim_example
.hList
  button.btn.btn-main Main Action Button
  button.btn.btn-em Emphasis Button
  button.btn.btn-main
    | Text with Icon
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn.btn-main disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

#### Tags

Used for lists of links to tag collections.

```slim_example
.hList
  button.btn.btn-tag Text
  button.btn.btn-tag Tag
```

#### CTA Button

Used at the end of stories and recipes, for example. Generally includes an icon.

```slim_example
.hList
  button.btn.btn-cta
    | Print this Recipe
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn.btn-cta disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

*/

// $_btn-transition: .2s;
// $_btn-transition-fast: .05s;

// .btn {
//   display: inline-block;
//   padding: 4px 8px;
//   border: 0;
//   box-shadow: 2px 2px 0 $color-shadow;
//   font-size: 1.4rem;
//   font-family: $font-family-sans;
//   font-weight: bold;
//   text-transform: uppercase;
//   text-decoration: none;
//   text-align: center;
//   // scss-lint:disable PropertyUnits
//   line-height: 16px;
//   // scss-lint:enable PropertyUnits
//   background: $color-grey-lightest;
//   color: $color-default;
//   cursor: pointer;
//   outline: 0;
//   transition: box-shadow $_btn-transition,
//               transform $_btn-transition;

//   &:hover {
//     box-shadow: 2px 3px 0 $color-shadow-hover;
//     transform: translate(0, -1px);
//   }

//   &:focus {
//     background-color: lighten($color-grey-light, 4%);
//   }

//   &:active {
//     box-shadow: 1px 1px 0 $color-shadow-hover;
//     transform: translate(0, 1px);
//     transition-duration: $_btn-transition-fast, $_btn-transition-fast;
//   }

//   &[disabled] {
//     background: $color-disabled-bg;
//     color: $color-disabled;
//     cursor: default;

//     &:hover,
//     &:active {
//       box-shadow: 2px 2px 0 $color-shadow;
//       transform: none;
//     }

//     > .icon {
//       fill: $color-disabled;
//     }
//   }

//   > .icon {
//     fill: $color-default;
//     height: 18px;
//     width: 18px;
//     margin: -2px 0 -2px 6px;
//     vertical-align: -2px;
//   }
// }

// // Button Sizes ***********

// .btn-attached {
//   padding: 6px 8px;
// }

// .btn-tall {
//   padding: 14px 10px;
// }

// // Button Types ***********

// .btn-tag {
//   padding: 2px 6px;
//   text-transform: none;
//   font-weight: normal;
//   color: $color-red;

//   &:hover {
//     box-shadow: 2px 3px 0 $color-shadow;
//   }
// }

// .btn-white {
//   background-color: $color-white;
// }

// .btn-main,
// .btn-em {
//   background-color: $color-red;
//   color: $color-white;

//   &:focus {
//     background-color: lighten($color-red, 8%);
//   }

//   > .icon {
//     fill: $color-white;
//   }

//   &[disabled] {
//     color: $color-white;
//     background-color: lighten($color-red, 35%);

//     > .icon {
//       fill: $color-white;
//     }
//   }
// }

// .btn-cta {
//   padding: 6px 8px;
//   font-size: 1.6rem;
//   color: $color-text-light;

//   > .icon {
//     fill: $color-text-light;
//     height: 20px;
//     width: 20px;
//     vertical-align: -3px;
//   }
// }

// .btn-inlay {
//   width: 40px;
//   height: 28px;
//   box-shadow: none;
//   background-color: $color-white;

//   &:hover,
//   &:active {
//     box-shadow: none;
//   }
// }
