/*doc
---
title: Buttons
name: btn
category: Interface
---

All styles should look the same for `<a>`, `<button>`, and `<input type="submit">` elements. Favor using `<button>` over `<input>`.

```slim_example
.hList
  a.btn href="#" Link
  button.btn type="button" Button Element
  input.btn type="submit" value="Input Type Submit"
```

## Button Sizes

Buttons attached to form fields are taller.

```slim_example
.hList
  button.btn.btn-main Normal
  button.btn.btn-main.btn-attached Attached
```

## Button Colors/Types

#### Default Button

Used for most usages where buttons are required.

```slim_example
.hList
  button.btn Text Only
  button.btn
    | Text with Icon
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

#### Main Action, emphasis

Currently they look the same.

```slim_example
.hList
  button.btn.btn-main Main Action Button
  button.btn.btn-em Emphasis Button
  button.btn.btn-main
    | Text with Icon
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn.btn-main disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

#### Tags

Used for lists of links to tag collections.

```slim_example
.hList
  button.btn.btn-tag Text
  button.btn.btn-tag Tag
```

#### CTA Button

Used at the end of stories and recipes, for example. Generally includes an icon.

```slim_example
.hList
  button.btn.btn-cta
    | Print this Recipe
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
  button.btn.btn-cta disabled="disabled"
    | Disabled
    svg.icon viewBox="0 0 24 24" width="16" height="16"
      use xlink:href="#icon-print"
```

*/
$_btn-transition: .2s;
$_btn-transition-fast: .05s;

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 8px 12px;
  // font-size: 1.4rem;
  // padding: 8px 12px;
  border: 0;
  box-shadow: 0px 2px 0 $color-shadow;

  font-family: $font-family-sans;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  // scss-lint:disable PropertyUnits
  line-height: 20px;
  border-radius: 4px;
  // scss-lint:enable PropertyUnits
  // background: $color-green;
  color: $color-white;
  background: rgb(67,129,50);
  background: linear-gradient(0deg, rgba(67,129,50,1) 0%, rgba(94,178,69,1) 100%);
  // color: $color-default;
  cursor: pointer;
  outline: 0;
  transition: box-shadow $_btn-transition,
              transform $_btn-transition;

  &:hover {
    box-shadow: 0px 3px 0 $color-shadow-hover;
    transform: translate(0, -1px);
  }

  &:focus {
    // background-color: lighten($color-grey, 4%);
    background-color: $color-green;
    color: $color-white;
  }

  @include media($media-tablet) {
    font-size: 2rem;
    padding: 16px 24px;
  }
}

.btn-em {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

