/*doc
---
title: Donate CTA
name: donate
category: Content
---

A widget encouraging people to donate.

```slim_example
.donate
  svg.icon.donate-icon viewBox="0 0 63 37" width="63" height="37"
    use xlink:href="#icon-fork-knife-plate"
  .donate_hdg Keep Us Cooking, Support Us
  a.btn.btn-em.btn-attached href="#" Give Now
```

*/

// .donate {
//   align-items: center;
//   display: flex;
//   fill: $color-text;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin: auto;
//   max-width: 400px;
//   text-align: center;
//   width: 100%;

//   @include media($media-tablet) {
//     max-width: 530px;
//   }

//   &::before {
//     border-top: 1px solid $color-grey;
//     content: '';
//     margin-bottom: 30px;
//     max-width: 530px;
//     width: 100%;
//   }

//   &::after {
//     border-top: 1px solid $color-grey;
//     content: '';
//     margin-top: 30px;
//     max-width: 330px;
//     width: 100%;
//   }
// }

// .donate_hdg {
//   margin: 10px 15px;
//   font-family: $font-family-serif;
//   font-style: italic;
//   font-size: 2.4rem;
// }
