.hdg {
  display: block;
  font-family: $font-family-heading;
  text-transform: uppercase;
}

.hdg-1 { font-size: 4rem; }
.hdg-2 { font-size: 2.8rem; }
.hdg-3 { font-size: 1.6rem; }

.hdg-light {
  color: $color-white;
}

.hdg-largest {
  font-size: 12em;
  line-height: 1;
}

.hdg-large {
  font-size: 8em;
  line-height: 1;
}

.hdg-lowercase {
  text-transform: lowercase;
}

.hdg-1-hero {
  font-size: 2rem;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.85);
  display: inline;
  padding: 6px 12px;
  border-radius: 2px;
  border: 2px solid $color-black;

  @include media($media-mobile){

    font-size: 4rem;
    padding: 10px 30px;
    border: 3px solid $color-black;
  }

  @include media($media-tablet) {
    font-size: 6rem;
    font-weight: normal;
    display: inline;
    padding: 10px 30px;
    border-radius: 2px;
    border: 4px solid $color-black;
  }

}

.hdg-infographic {
  font-size: 3rem;
  padding: 0 30px;
  line-height: 1.4;
}
