/*doc
---
title: Horizontal Lists
name: hList
category: Lists
---

For horizontally spacing small pieces of content.

```html_example
<ul class="hList">
  <li>First Item</li>
  <li>Second Item</li>
  <li>Third Item</li>
  <li>Fourth Item</li>
</ul>
```

It can apply to any type of element, such as the unordered list above, or these nested `<div>`s

```html_example
<div class="hList">
  <div>First Item</div>
  <div>Second Item</div>
  <div>Third Item</div>
  <div>Fourth Item</div>
</div>
```
*/

.hList {
  > * {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hList-compressed {
  > * {
    margin-right: 1px;
    margin-bottom: 0;
  }
}

.hList-lg {
  > * {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.hList-divided {
  > * {
    padding-right: 10px;
    border-right: 1px solid $color-default;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
    }
  }
}
