/*doc
---
title: Link
name: link
category: Content
---

Styling for links

Footer links

```slim_example
a.link.link-hdg href="#"
  h2.hdg.hdg-2 Heading link style
```

*/

.link {
  color: $color-link;
  fill: $color-link;
  text-decoration: underline;
  transition: color $transition, fill $transition;

  &:hover {
    color: $color-link-hover;
    fill: $color-link-hover;
  }

  svg {
    vertical-align: -2px;
  }
}

// .link-hdg {
//   color: inherit;
//   text-decoration: none;

//   &:hover {
//     color: $color-red;
//   }
// }

// .link-plain {
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .link-inverted {
//   color: $color-white;

//   &:hover {
//     color: $color-white;
//   }
// }
