/*doc
---
title: Social Icons
name: social
category: Interface
---

Styles for social media icons

```slim_example
```

*/

.social {
  height: 32px;
  width: 32px;
  padding: 5px;
  margin: auto;
  border: 3px solid $color-green;
  border-radius: 50px; // 50px is arbitrary large amount; makes a circle or pill shape
}


.social_icon {
  display: block;
  margin: auto;
  width: 16px;
  height: 16px;
  fill: $color-green;
}


.social:hover,
.social:hover .social_icon {
  border-color: $color-link-hover;
  color: $color-link-hover;
  fill: $color-link-hover;
}

.social-dark {
  border-color: $color-black;

  &:hover {
    border-color: $color-white;
  }
}

.social_icon-dark {
  fill: $color-black;

  &:hover {
    fill: $color-white;
  }
}


.social-footer {
border: 3px solid $color-white;
}

.social_icon-footer {
  fill: $color-white;
}
