//--------------------------------------
// Columns
//--------------------------------------

.col {
  display: table;
  width: 100%;
  vertical-align: middle;

  @include media($media-tablet) {
    display: table-cell;
  }
}

.col-item {
  padding: 80px;
  width: 100%;
  min-height: 500px;

  // &:after{
  //   content: ' ';
  //   clear: both;
  // }

  @include media($media-tablet) {
    padding: 80px;
    height: 100%;
    min-height: 500px;
    width: 50%;
  }
}

.col-item-green {
  background-color: $color-green;
  color: $color-black;
}

.col-item-white {
  background-color: $color-white;
}

.col-item-black {
  background-color: $color-black;
  color: $color-white;
}

.col-item-center {
  text-align: center;
}

.col-item-padded {
  padding: 10%;
}

.col-footer {
  width: 100%;

  @include media($media-tablet) {
    width: 33.333%;
  }
}
