/*doc
---
title: Hero Grid
name: heroGrid
category: Layout
---

Featured stories and recipes area of the home page.

```slim_example
.heroGrid
  .heroGrid_feature style="background: #ddd; min-height: 100px;"
  .heroGrid_group
    .heroGrid_links
      .heroGrid_link style="background: #ddd; min-height: 100px;"
      .heroGrid_link style="background: #ddd; min-height: 100px;"
    .heroGrid_sidebar
      .heroGrid_sidebar_item style="background: #ddd; min-height: 80px;"
      .heroGrid_sidebar_item style="background: #ddd; min-height: 40px;"
      .heroGrid_sidebar_ad style="background: #ddd; min-height: 100px;"
```

*/

.heroGrid {
  @include clearfix();
  background-color: $color-gray;
  display: table;
  width: 100%;
  background-image: url('../images/note-to-self.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  margin: auto;
  padding: 52px 20px 20px;

  @include media($media-small-tablet){
     background-position-y: 70%;
  }

  @include media($media-tablet) {
    height: 480px;
    background-position-y: 60%;
  }
}

.heroGrid_text {
  display: block;
  text-align: center;

  @include media($media-tablet){
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

}

.heroGrid_text_subhead {
  color: $color-grey-darkest;
  font-size: .8em;
  line-height: 1.4;
  width: 100%;
  margin: 60px auto 0;
  text-shadow:1px 2px 1px $color-white;
  max-width: 300px;

  @include media($media-mobile){
    font-size: .875em;
  }

  @include media($media-small-tablet){
    font-size: 1em;
  }

  @include media($media-tablet){
    margin-top: 60px;
    font-size: 1.4em;
    max-width: 720px;
  }
}
// .heroGrid_feature {
//   border-bottom: 1px solid $color-white;
//   height: 240px;

//   @include media($media-tablet) {
//     float: left;
//     width: 40%;
//     height: 100%;
//     border-right: 1px solid $color-white;
//   }

//   @include media($media-desktop) {
//     width: 50%;
//   }
// }

// .heroGrid_group {
//   @include clearfix();

//   @include media($media-small-tablet) {
//     height: 413px;
//   }

//   @include media($media-tablet) {
//     width: 60%;
//     height: 100%;
//     float: right;
//   }

//   @include media($media-desktop) {
//     width: 50%;
//   }
// }

// .heroGrid_links {
//   width: 100%;
//   height: 120px;

//   @include media($media-small-tablet) {
//     height: 100%;
//     float: left;
//     margin-right: -320px;
//   }
// }

// .heroGrid_link {
//   float: left;
//   width: 50%;
//   height: 100%;
//   border-right: 1px solid $color-white;

//   @include media($media-small-tablet) {
//     float: none;
//     height: 50%;
//     width: auto;
//     margin-right: 320px;
//     border-right: 0;
//     border-bottom: 1px solid $color-white;
//   }

//   &:last-child {
//     border-right: 0;
//   }
// }

// .heroGrid_sidebar {
//   margin: 10px auto 0;
//   width: 300px;

//   @include media($media-small-tablet) {
//     float: left;
//     margin-left: 10px;
//     margin-right: 10px;
//   }

//   @include media($media-tablet) {
//     margin-top: 0;
//   }
// }

// .heroGrid_sidebar_item {
//   margin-bottom: 10px;
// }

// .heroGrid_sidebar_ad {
//   width: 300px;
//   height: 250px;
//   margin: 0 auto;
// }
