//----------------------------------------------
// Section - for vertical spacing
//----------------------------------------------

.section {
  margin-bottom: 40px;

  @include media($media-tablet) {
    margin-bottom: 60px;
  }
}

.section-md {
  margin-bottom: 20px;

  @include media($media-tablet) {
    margin-bottom: 40px;
  }
}

.section-mid {
  margin-bottom: 15px;

  @include media($media-tablet) {
    margin-bottom: 30px;
  }
}

.section-sm {
  margin-bottom: 10px;

  @include media($media-tablet) {
    margin-bottom: 20px;
  }
}

.section-bottom {
  margin-bottom: 40px;

  @include media($media-tablet) {
    margin-bottom: 60px;
  }
}
// .section-divider {
//   padding-bottom: 10px;
//   border-bottom: 1px solid $color-text;
// }

// .section-dividerBefore {
//   padding-top: 10px;
//   border-top: 1px solid $color-text;
// }

// .section-player {
//   margin-bottom: 0;
//   position: relative;
//   z-index: $z-player;
// }

// .section-bottom {
//   margin-bottom: 0;
//   margin-top: 10px;
// }

// .section-edge {
//   overflow: hidden;
// }
