//--------------------------------------------------
// Util stuff
//--------------------------------------------------

.invisible {
  @include invisible();
}

.center {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.hide-mobile {
  @include media-max($media-mobile) {
    display: none;
  }
}

.hide-smallTablet {
  @include media-max($media-small-tablet) {
    display: none;
  }
}
